<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>GPS Tracking</title>
</head>

<body>
    
    <div class="main">
        <div id="map" style="width:100vw;height:100vh;"></div>
        <div id="section0" class="section">
            <div class="vcontainer">
            <img src="images/bombangle.jpg">
            <p>There were too few of us. We didn’t have access to enough drugs. 
            Not enough money. Not enough equipment. And little by little we went insane
            </div>
            <div class="cornerArrow"></div>
        </div>

        <div id="section1" class="section">
            <div class="vcontainer">
            <img src="images/sculpture1.jpg">
            <p>If you think you’re meeting your destiny on the other side of a door you may not be interested in its design</p>
            </div>
            <div class="cornerArrow"></div>
        </div>

        <div id="section2" class="section">
           <div class="vcontainer">
            <img src="images/sculpture2.jpg">
            <p>There I was, poised in space, a dis-embodied eye, invisible, incorporeal, seeing but not seen</p>
            </div>
            <div class="cornerArrow"></div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyDyaRA3Emr8QaU8y9HcR-IxNShUtsBCSk4"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
        init();
    </script>

</body>

</html>